<%- include('partials/head') %>

   <body class="bg-gray-100 my-0">
      <div class="container rounded-xl drop-shadow-lg mt-10 p-5 max-w-md flex items-center mx-auto bg-white">
         <div class="mx-auto">
            <h1
               class="text-2xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
               Login</h1>
            <hr class="border-gray-300"><br>
            <div class="mb-3">
               <label class="font-light text-sm" for="emailID">Enter Email</label><br>
               <input name="email" type="text" class="bg-gray-50 form-input px-5" id="emailID" placeholder="Email"
                  required>
            </div>
            <div class="mb-3">
               <div id="message">

               </div>
               <div id="image-container" class="grid grid-cols-5 gap-4">
                  <!-- fetch form js -->
                  <!-- repeat for as many images as you want to include -->
               </div>
            </div>
            <div class="mb-3">
               <button onclick="login()" class="rounded-lg px-4 py-1 bg-purple-700 text-white">Login</button>
               <a href="/user"><button class="rounded-lg px-4 py-1 bg-purple-700 text-white">Sign Up</button></a>
            </div>
         </div>
      </div>

   </body>





   <%- include('partials/foot') %>